<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Very Secure Banking - Main Page</title>
    </head>
    <body>
        <h1>Very Secure Banking - Main Page</h1>
        Welcome {{user.username}}!
        <br>
        <br>
        <a href="/transactions/"><span class="blink">Transactions</span></a>
        <a href="/pii/"><span class="blink">User Information</span></a>
        
        <h2>Balance</h2>
        <table>
            <tr>
                <th style="text-align:left">Account name</th>
                <th style="text-align:right">Balance</th>
            </tr>
			<tr>
				<td style="text-align:left">{{own_account.iban}}</td>
				<td style="text-align:right">{{own_account.balance}}</td>
			</tr>	
        </table>

        <h2>Transfer money</h2>

        <form id='transfer' action='transfer/' method="POST">
			{% csrf_token %}
            <span>From:</span><br/>
            <select name="from">
                <option value="{{own_account.iban}}">{{own_account.iban}}</option>
            </select><br/>

            <span>To:</span><br/>
            <select name="to">
			{% for account in accounts %}
                <option value="{{account.iban}}">{{account.owner}}</option>
			{% endfor %}
            </select><br/>

            <span>Amount:</span><br/>
            <input type="number" name="amount"/><br/>

            <span>Message:</span><br/>
            <input type="text" name="message"/>

            <p></p>
            <input type="submit" value="Transfer"/>
        </form>
        <br>
        <br>
        <br>
        <form action='logout/' method="POST">
            {% csrf_token %}
            <input type="submit" value="LOGOUT"/>
        </form>     

    </body>
</html>
