<head>
  <title>Very Secure Banking - Main Page</title>
</head>

<h1>Very Secure Banking - Login</h1>
<br>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Login</button>
</form>
