<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Very Secure Banking - User Information</title>
    </head>
    
    
    <body>
        <h1>Very Secure Banking - User Information</h1>
        <a href="/"><span class="blink">&lt;- Back to main</span></a>

        <h2>User information</h2>
        <table>
            <tr><th style="text-align:left">Username: <td>{{user.username}} </td></tr>
            <tr><th style="text-align:left">First name: <td>{{user.first_name}} </td></tr>
            <tr><th style="text-align:left">Last name: <td>{{user.last_name}} </td></tr>
            <tr><th style="text-align:left">Phone: <td>{{pii.phone}} </td></tr>
            <tr><th style="text-align:left">Address: <td>{{pii.address}} </td></tr>
            <tr><th style="text-align:left">Social security number: <td>{{pii.social_sec}} </td></tr>

        <table>
    </body>
</html>
