<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Very Secure Banking - Transactions</title>
    </head>
        <h1>Very Secure Banking - Transactions</h2>
        <a href="/"><span class="blink">&lt;- Back to main</span></a>

        <h2>Received</h3>
        <table>
            <tr>
                <th>From</th>
                <th>Amount</th>
                <th style="text-align:right">Message</th>
            </tr>
            {% for receive in received %}
			<tr>
				<td>{{receive.sender.username}}</td>
				<td>{{receive.amount}}</td>
				<td style="text-align:right">{{receive.message}}</td>

            </tr>	
			{% endfor %}

        </table>
        
        <h2>Sent</h3>
        <table>
            <tr>
                <th>To</th>
                <th>Amount</th>
                <th style="text-align:right">Message</th>
            </tr>
            {% for send in sent %}
			<tr>
				<td>{{send.receiver.username}}</td>
				<td>{{send.amount}}</td>
				<td style="text-align:right">{{send.message}}</td>

            </tr>	
			{% endfor %}

        </table>
    </body>


    </body>
</html>
